@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all duration-1000;
}

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  color: #ffffff;
  /* @apply bg-gradient-to-b from-stone-800 to-fuchsia-800; */
  background: #121214; 
  font-family: "Poppins",sans-serif;
}

.titulo {
  @apply text-[35px] font-extrabold text-[#00e5e5] leading-[2.4rem];
  /* @apply text-[35px] font-extrabold text-[#ab3ed8] leading-[2.4rem]; */
}

.titulo2 {
  @apply text-[25px] font-extrabold text-[#00e5e5] leading-[2.4rem];
}

.btn {
  @apply bg-[#ab3ed8] rounded-full p-4 font-bold hover:bg-[#00e5e5] hover:text-[#005050] hover:scale-110;
}

.carousel-titulo {
  @apply w-full text-[25px] bg-[#ab3ed8] text-center font-extrabold;
}
.carousel-img {
  @apply object-cover w-full h-[220px] md:h-[300px] ;
}

.separador {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #ab3ed8, transparent);  
}